################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/fileapi/.vs
/src/fileapi/bin/Debug
/src/fileapi/obj
/src/fileapi/fileapi.csproj.user
/src/fileapi/Properties
/src/deployment/privatedeploy.yaml
